body {
  background: #141414;
  color: #808080;
  font-family: "Google Sans", sans-serif;
}

.logo {
  max-width: 7em;
  max-height: auto;
}

li > a {
  color: #808080;
}

li > a:hover {
  transition: color 0.5s cubic-bezier(0.15, 0.75, 0.85, 1);
  color: #ffffff;
}

li.active > a {
  color: #ffffff;
}

.icon {
  width: 1em;
  height: 1em;
}

.icon-sm {
  width: 0.75em;
  height: 0.75em;
}

.icon-lg {
  width: 1.5em;
  height: 1.5em;
}

.avatar {
  max-width: 2em;
  height: auto;
}

.btn {
  color: #808080;
  border-radius: 1px;
  border: solid 1px #7f7f7f;
}

.btn:hover {
  border-radius: 1px;
  border: solid 1px #ffffff;
}

.btn-custom {
  background: #000000;
  color: #ffffff;
}

.btn-custom:hover {
  background: #1b1b1b;
}

.splide__slide > img {
  opacity: 0.4;
  transition:
    transform 0.5s,
    opacity 0.3s;
}

.splide__slide.in-view > img,
.splide__slide:hover > img {
  opacity: 1;
}

.splide__slide:hover {
  z-index: 1;
  cursor: pointer;
}

.splide__slide:hover > img {
  transform: scale(1.05);
}

.animateFadeIn {
  filter: blur(5px);
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s cubic-bezier(0.25, 0.75, 0.5, 1);
}

.fadeIn {
  filter: blur(0);
  opacity: 1;
  transform: translateY(0);
}
